body {}

body img {
    width: 100%;

}

#logoHeader img {
    background-color: #AFC6E5;
    width: 150px;
    padding: 4px 42px 4px 42px;
    margin: 0% 52% 0% 42%;
}

#logoHeader {
    background-color: #AFC6E5;
    height: 68px;
    padding: 2px 0px 2px 0px;
}

#audio {
    background-color: #F0F3F4;
    margin: 0% 0% 0% 0%;
    width: 100%;
}

nav ul {
    color: white;
    background-color: white;
    height: 3%;
    color: white;
    margin: 0%;
    padding: 1% 7% 1% 7%;
    /*10px 100px 10px 100px*/
    list-style-type: none;
    font: 1em "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

nav ul li {
    display: inline;
    margin: 0% 14% 0% 15%;
}

a {
    color: #E5E3E6;
    text-decoration: none;
    float: none;
}

a:hover {
    color: #C9C1BD;
}

.about img {
    display: inline;
    width: 20%;
}

p {
    display: inline;

}

#message {
    background-color: #C9B6A9;
    float: left;
    width: 40%;
    padding: 5% 0% 15% 0%;
    margin: 1% 5% 5% 5%;
}

#messageInputBoxes {
    margin-left: 40%;
    width: 50%;
}

#message img {
    width: 60%;
    margin: 30% 25% 1% 25%;
}

#messageReveal {

    width: 30%;
}

#cityState {
    width: 30%;
}

#messageInputField input {

    height: 60px;
}

#messageOpenButton button {
    margin: 0% 20% 5% 45%;
}

#contact {
    background-color: #A0AEC3;
    float: right;
    width: 40%;
    padding: 5% 0% 15% 0%;
    margin: 1% 5% 5% 5%;
}

#contact img {
    width: 55%;
    margin: 30% 25% 0% 25%;
}

#contact button {
    margin: 0% 20% 5% 45%;
}


#contactInfo img {
    width: 30%;
}

#contactInfo ul {
    color: white;
    height: 3%;
    padding: 20% 7% 0% 15%;
    /*10px 100px 10px 100px*/
    list-style-type: none;
    font: 2em "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

@media screen and (max-width: 800px) {
    .header img {
        width: 50%;
        margin: 2% 20% 2% 25%;
    }
    .column {
        flex: 50%;
        max-width: 50%;
    }
    #message img {
        width: 90%;
        margin: 30% 25% 1% 5%;
    }
    #contact img {
        width: 90%;
        margin: 26% 25% -1% 5%;
    }
    #contactInfo ul {
        padding: 5% 5% 5% 5%;
    }
    nav ul {
        height: 3%;
        margin: 0%;
        padding: 1% 9% 1% 9%;
        /*10px 100px 10px 100px*/
        list-style-type: none;
        font: 1.2em "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    }
    nav ul li {
        display: inline;
        margin: 0% 14% 0% 10%;
    }
    #logoHeader img {
        background-color: #AFC6E5;
        width: 150px;
        padding: 4px 42px 4px 42px;
        margin: 0% 58% 0% 34%;
    }

}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .header img {
        width: 70%;
        margin: 2% 10% 2% 15%;
    }
    .column {
        flex: 100%;
        max-width: 100%;
    }
    #message {
        float: none;
        width: 90%;
    }
    #messageOpenButton button {
        margin: 0% 20% 5% 40%;
    }
    #contact {
        float: none;
        width: 90%;
    }
    #contact button {
        margin: 0% 20% 5% 43%;
    }
    nav ul {
        height: 3%;
        margin: 0%;
        padding: 1% 9% 1% 5%;
        /*10px 100px 10px 100px*/
        list-style-type: none;
        font: 1.2em "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    }

    nav ul li {
        display: inline;
        margin: 0% 7% 0% 10%;
    }
    #logoHeader img {
        background-color: #AFC6E5;
        width: 150px;
        padding: 4px 42px 4px 42px;
        margin: 0% 39% 0% 21%;
    }
}
